


/* Estilo base para mobile-first */
.registro-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Configuración básica */
  align-items: center;
  gap: 0.15rem;
  padding: 0;
  padding-bottom: 60px; /* Espacio inferior para otros elementos */
  width: 76vw; /* Ocupa el 80% del ancho de la ventana */
  margin-left: 0; /* Asegura que se mantenga alineado a la izquierda */
  margin-right: auto; /* Evita que el contenedor se solape con otros elementos */
  box-sizing: border-box; /* Asegura que el padding esté incluido en el ancho */
}




.registro-card-container:hover {
  z-index: 100;

}

.card-container {
  position: relative;
  width: 100%;
  display: flexbox;
}



/* transition: all 2.3s ease-in-out;
    overflow: hidden;  */

.card {
  border: 1px solid #ccc;
  padding: 0.04rem;
  border-radius: 5px;
  margin: 1px 0px 1px 0px;
  position: relative;  /* Necesario para aplicar z-index */
  z-index: 1;  /* Establece el valor por defecto */
  transition: transform 1s ease-in-out, z-index 4s 4s;
  transform: scale(0.97);
  
}

.card:hover {
  z-index: 100;

}


.card-body {
  resize: horizontal;
  margin: 0;
  padding: 0;
  line-height: 3;
}

.card-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  gap: 0.28rem;
  width: 60%;
  margin-left: 0.5rem;
  text-align: center; /* Centra el texto horizontalmente */
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}


.card-body-item {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: flex-end; /* Centra verticalmente el contenido */
  line-height: 1.2; /* Ajusta el espaciado de línea para mejor apariencia */
  border-radius: 8px;
  padding: 0.05rem; /* Agrega padding para mejor visualización */
  text-align: center; /* Centra el texto horizontalmente */
  box-shadow: 0px 1.6px 1.9px #8884847a; /* Agrega una sombra ligera */
  transition: box-shadow 0.3s ease; /* Transición suave al hover */
}

.card-body-item:hover {
  box-shadow: 0px 2px 4px #4f81f6e7; /* Aumenta la sombra al hacer hover */
}

.label-item-body {
  margin-right: 0.32rem;
  font-weight: bolder;
  font-size: 0.8rem;
}



.zero {
  margin: 0;
  padding: 0;
}





.loader-container {
  display: flex;
  justify-content: start; /* Empieza desde la izquierda */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  margin-left: -150px;
}

/* Diseño adaptable a pantallas pequeñas */
/* @media screen and (max-width: 728px) {
  .card-container {
    position: relative;
    width: 100vw;
  }



  .loader-container {
    display: flex;
    justify-content: center; 
    align-items: start; 
    grid-column: 1 / -1; 
    height: 100vh; 
  }
} */

.loader-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: start; /* Centra verticalmente */
  grid-column: 1 / -1; /* Asegúrate de que cubra todas las columnas */
  height: 100vh; /* Ocupa toda la altura del viewport */
}

.btn-close-body {
  width: 4px;
  padding: 1px;
  margin-left: 0;


}


.text-90 {
  transform: rotate(-90deg);
  overflow-wrap: anywhere;
  font-size: x-small;
  justify-items: start;
  padding: 0;
  margin: 0;
}

/* Contenedor de columnas dentro de cada tarjeta */
.card-expanded-content {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
  gap: 0.1rem; /* Espaciado entre columnas */
  width: 100%; /* Asegura que el contenedor use todo el ancho disponible */
  padding: 0.1rem; /* Espaciado interno */
  transition: all 0.3s ease-in-out; /* Animación suave al expandir */
}

/* Ajuste de las columnas individuales */
.columna1,
.columna2 {
  
  padding: 0.3rem; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
}

/* Responsividad: Apilar columnas en pantallas pequeñas */
@media (max-width: 768px) {
  .card-expanded-content {
    grid-template-columns: 1fr; /* Una sola columna */
  }

  .columna1,
  .columna2 {
    margin-bottom: 1rem; /* Espaciado entre columnas apiladas */
  }
}

/* Tabla principal */
.styled-dark-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #03152f; /* Color de fondo general (color1) */
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  ;
}

/* Encabezados */
.dark-table-header {
  background-color: #181223; /* Color del encabezado (color3) */
  color: #e2d4ed; /* Color claro para el texto del encabezado */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  text-align: left;
  padding: 2px;
  overflow-wrap: break-word;
  text-align: center;
}

/* Filas alternadas */
.dark-table-row:nth-child(even) {
  background-color: #15193b; /* Color alternado (color2) */
}

.dark-table-row:nth-child(odd) {
  background-color: #03152f; /* Color de fondo general (color1) */
}

.dark-table-row:hover {
  background-color: #cac5de; 
  color: #2d1c49;
  
}


.dark-table-row:hover .dark-table-cell {
  color: #2d1c49;
  
}

/* Celdas */
.dark-table-cell {
  padding: 2px;
  font-size: 11px;
  color: #e2d4ed; /* Texto claro */
  overflow-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  
  
}

.dark-table-body {
  background-color: #181223;
}

/* Hover en celdas */

.dark-table-row:not(:hover) .dark-table-cell:not(:hover) {
  color: #ffffff;
  font-family: "arial";
}

.dark-table-cell:hover   {
  background-color: #d4a568; 
  color: #2d1c49;
  
}



.dark-table-cell:hover .contorno {
  fill: #fff; /* Color de relleno del ícono */
  stroke: #1a0234d9; /* Color del contorno */
  stroke-width: 1.5px; /* Grosor del contorno */
}
.dark-table-row:hover .contorno {
  fill: #fff; /* Color de relleno del ícono */
  stroke: #1a0234d9; /* Color del contorno */
  stroke-width: 1.5px; /* Grosor del contorno */
}

/* Espaciado adicional */
.dark-spacing-wrapper {
  margin-top: 10px;
}

/* Clases para texto */
.text-color1 {
  color: #03152f;
}

.text-color2 {
  color: #15193b;
}

.text-color3 {
  color: #2d1c49;
}

.text-color4 {
  color: #4e1d58;
}

.text-color5 {
  color: #791865;
}


.search-bar {
  position: fixed;
  bottom: 0;
  left: 54px;
  right: 2px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #01070d;
  padding: 10px 20px;
  box-shadow: 0px -2px 10px rgba(2, 255, 162, 0.695);
  border-top: 1px solid #2b9962;
  z-index: 1000;
  bottom: 4px;
  border-radius: 6px;
}

.search-bar input {
  flex: 1;
  margin: 2px;
  padding: 2px;
  border: 1px solid #00ff7f;
  font-weight: bolder;
  border-radius: 5px;
  background-color: #232323;
  color: #fcfffd;
  outline: none;
  text-align: end;
  min-width: 120px; /* Establece un ancho mínimo */
}

.search-bar input::placeholder {
  color: #868686;
}

.search-bar button {
  padding: 6px 8px;
  margin: 2px;
  background-color: #ff0055;
  color: #161616;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #2b9962;
}

.cargando {
  color: #232323;
}

.modal-formulario {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; 
  /* height: auto;
  display: flex; */
  flex-direction: column; /* Alineación del contenido */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 16px; /* Bordes más redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Añade una sombra para destacar */
  padding: 20px; /* Espacio interno */
}

.modal-formulario button {
  margin-top: 10px; /* Espaciado superior para botones */
}

.card-body-data {
  background-color: black;
  border-radius: 8px;
  position: fixed; /* Fijo para mantenerlo estático al hacer scroll */
  right: 0; /* Pegado al lado derecho */
  top: 0; /* Alineado al borde superior */
  margin-left: 8px;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 22vw; /* Ocupa el 20% del ancho de la ventana */
  z-index: 1000; 
  display: flex;
  flex-direction: column; /* Opcional: Organiza el contenido verticalmente */
  padding: 10px; /* Espaciado interno */
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
  padding-bottom: 60px;
}

/* Media Queries optimizadas */
@media (max-width: 768px) {
  .registro-card-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5rem;
    width: 90vw;
  }

  .card-container {
    width: 100vw;
  }

  .card-expanded-content {
    grid-template-columns: 1fr;
  }

  .columna1,
  .columna2 {
    margin-bottom: 1rem;
  }

  .styled-dark-cell {
    font-size: 9px;
  }
}

@media (max-width: 485px) {
  
  /* .card-card {
    flex-direction: row-reverse;
    align-items: stretch;
    margin-right: 10px;
    scale: 0.90;
    gap: 0.01rem
  } */
  .contenido {
    height: 96.2vh;
    overflow-y: scroll;
  }
  .search-bar {
    visibility: collapse;
  }

  .card-body-data {
    visibility: visible;
    
    top: 345px; /* Posicionado en la parte inferior */
    width: 95vw; /* Ocupa todo el ancho de la pantalla */
    right: 4vw;
    height: 40vh; /* Ocupa un tercio de la altura de la pantalla */
   
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
    z-index: 1000; /* Asegurarse de que se mantenga encima */
  }

}

@media (max-width: 768px) {
  .registro-card-container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.3rem;
    width: 12vw;
    right: 30px;
  }
  
  .card-headers {
  padding: 6px 160px 4px 10px;
  }

  .card {
    flex-direction: row-reverse;
    align-items: stretch;
    margin-right: 10px;
   
  }

  .contenido {
    height: 96.2vh;
    overflow-y: scroll;
  }
  
}

@media (min-width: 769px) {
  .registro-card-container {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 0.3rem;
    width: 50vw;
  }
  .card-body-data {
    top: 2px;
    width: 38vw;
  }
}



@media (min-width: 1048px) {
  .registro-card-container {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
    width: 63vw;
  }
  .card-body-data {
    top:2px;
    bottom: 2px;
    width: 29vw;
  }
}

@media (min-width: 1340px) {
  .registro-card-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: 69vw;
  }
  .card-body-data {
    top: 2px;
    bottom: 2px;
    width: 25vw;
  }
}

@media (min-width: 1599px) {
  .registro-card-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    width: 70vw;
  }
  .card-body-data {
    top: 2px;
    bottom: 2px;
    width: 25vw;
  }
}

.bar-btns {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0.5rem;
}

.new-btn-data {
  display: flex;           
  flex-direction: column-reverse;  
  align-items: center;    
  justify-content: center; 
  padding: 1px;   
  border: none;           
  background-color: #007bff0c; 
  color: white;          
  cursor: pointer;        
  border-radius: 7px;  
  text-align: center;
  padding: 3px;    
}

.new-btn-data:hover {
  background-color: #0048ff40; 
  border: oldlace solid 1px;
}

.new-btn-data:active {
  background-color: #02010f; 
  border: #5cfaad solid 1px;
  color: #5cfaad;
}

.span-btn { 
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: 'Segoe UI'
}

.form-paciente-view {
  overflow-y: scroll;
  height: 80vh;
}