.registro-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    gap: 0.15rem 0.15rem 0.15rem;
    padding: 0px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 0.18rem;
    border-radius: 5px;
    /* background-color: #f9f9f9; */
  }
  
  .card-body {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0; */
    
  }

  .card-content {
    /* margin: 0;
    padding: 0;
    justify-items: center;
    line-height: 0.98;
    flex-wrap: nowrap;
    gap: 0.73rem; */

  }

  .card-body-item {
    display: flex;
    justify-content: center;
  }
  
  .registro-accordion-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  
  .accordion-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-item p {
    margin-top: 10px;
  }
  
 .titulos {
  display: flex;
  justify-content: space-around; /* O ajustar con otro valor si lo deseas */
  align-items: center; /* Alinea los items verticalmente */
  gap: 0.5rem; /* Ajusta el espacio entre los elementos si es necesario */
}

.item-label {
margin: 0;
padding: 0;
line-height: 0.98;
justify-content: center;

}

.hombre {
  color: #1bc5e6;
  font-weight: bold;
}

.mujer {
  color: #df7ca8;
  font-weight: bold;
}

.zero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.labelStrong {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  line-height: 1.6;
}



/* Define la animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75%{
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}



.card:hover .pulse {
  animation: pulse 1.5s infinite;
}

tr:hover .dir {
  transition: 0.8s; 
}

/* texto de expediente expande */
.text-exp {
  color: #93cdef ;
}

.card:hover .expand-text {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 0.9;
  transition: 0.4s;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}