.registro-card-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    gap: 0.15rem 0.15rem 0.15rem;
    padding: 0px;
  }

  .card-container {
    position: relative;
    width: 100%;
    display: inline-block;
    
    /* transition: all 2.3s ease-in-out;
    overflow: hidden;  */
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 0.09rem;
    border-radius: 5px;
    transition: transform 3.3s ease-in-out;
    cursor: pointer;
   
  }
  
  .card-body {
    resize: horizontal;
    margin: 0;
    padding: 0;
    line-height: 3;
    
  }


  .card-header {
    padding: 0;
    margin: 0;
    }

  .item-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
    
    
  }

  .card-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    gap: 0.28rem;
    width: 60%;
    margin-left: 0.5rem;
    text-align: center; /* Centra el texto horizontalmente */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:lighter;
    
  }

  .item-body {
   padding: 0;
   margin: 0; 
   
  }
  
  .card-body-item {
    display: flex;
    justify-content:center; /* Centra horizontalmente el contenido */
    align-items: flex-end; /* Centra verticalmente el contenido */
    line-height: 1.2; /* Ajusta el espaciado de línea para mejor apariencia */
    border-radius: 8px;
    padding: 0.05rem; /* Agrega padding para mejor visualización */
    text-align: center; /* Centra el texto horizontalmente */
    box-shadow: 0px 1.6px 1.9px #8884847a; /* Agrega una sombra ligera */
    transition: box-shadow 0.3s ease; /* Transición suave al hover */
    
  }

.card-body-item:hover {
  box-shadow: 0px 2px 4px #4f81f6e7; /* Aumenta la sombra al hacer hover */
}
  
  .label-item-body {
    margin-right: 0.32rem;
    font-weight: bolder;
    font-size: 0.8rem;
    

    

  }
   
 .titulos {
  display: flex;
  justify-content: space-evenly; /* O ajustar con otro valor si lo deseas */
  align-items: flex-start; /* Alinea los items verticalmente */
  align-content: center;
  gap: 0.5rem; /* Ajusta el espacio entre los elementos si es necesario */
}

.item-label {
margin: 0;
padding: 0;
line-height: 1.1rem;
justify-content: center;



}

.hombre {
  color: #1bc5e6;
  font-weight: bold;
}

.mujer {
  color: #df7ca8;
  font-weight: bold;
}

.zero {
  margin: 0;
  padding: 0;
}

.labelStrong {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  line-height: 0.90;
  font-size: 0.8rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0;
  margin: 0;
}



/* Define la animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  10% {
    transform: scale(1.15); /* Primer latido (rápido y fuerte) */
  }
  20% {
    transform: scale(1); /* Vuelve rápidamente al tamaño original */
  }
  30% {
    transform: scale(1.2); /* Segundo latido (más suave que el primero) */
  }
  40% {
    transform: scale(1); /* Vuelve nuevamente al tamaño original */
  }
  100% {
    transform: scale(1); /* Mantiene el tamaño original para el resto del tiempo */
  }
}


.detalle-btn {
  border: #1bc5e6 solid;

}


.card:hover .pulse {
  animation: pulse 1.5s ease-in-out infinite;
}

tr:hover .dir {
  transition: 0.8s; 
}

/* texto de expediente expande */
.text-exp {
  margin: 0;
  padding: 0;
  
}


@keyframes rainbow {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.card:hover .expand-text{
  font-size: 1.3rem;
  font-weight: lighter;
  line-height: 0.9;
  transition: 0.4s;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  
}

.card:hover .text-exp {
  font-weight: lighter;
  background: linear-gradient(90deg, red, orange, yellow, rgb(24, 223, 24), rgb(247, 146, 247));
  background-size: 400%;
  background-clip: text; /* Propiedad estándar */
  -webkit-background-clip: text; /* Para compatibilidad con WebKit (Safari, Chrome) */
  color: transparent;
  animation: rainbow 8s ease infinite;
  margin: 0;
  padding: 0;
}



.table-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-collapse: collapse;
  
}

.table-row {
  display: flex;
  flex-direction: row ;
  margin-bottom: 1px;
  gap: 0.2rem;
}

.table-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px;
  border: 1px solid #a3999956;
  border-radius: 6px;
  line-height: 1.1rem;
  flex-wrap: nowrap;
}

.table-header {
  flex: 1;
  font-weight: bold;
  text-align: right;
  padding: 1.8px;
  border-right: 1px solid #dddddd53;
}

.table-body {
  flex: 2;
  padding: auto;
}

.table-item:hover {
  background-color: #55beb38f;
}

.loader-container {
  display: flex;
  justify-content: start; /* Empieza desde la izquierda */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa toda la altura de la ventana */
  margin-left: -150px;
  
}

/* Diseño adaptable a pantallas pequeñas */
@media screen and (max-width: 728px) {

  .table-row {
    flex-direction: column;
  }

  .table-header {
    width: 1rem;;
    text-align: left;
    border-right: 1px solid white; 
    padding: 1px;
  }

  .table-body {
    text-align: left;
  }

  .loader-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: start; /* Centra verticalmente */
    grid-column: 1 / -1; /* Asegúrate de que cubra todas las columnas */
    height: 100vh; /* Ocupa toda la altura del viewport */
  }
}

/* Estilo inicial del botón */
.btn-opt {
  width: 1.9rem;
  border-color: #f5449475;
  border-radius: 12px;
}

/* Estilo inicial de la etiqueta */
.label-btn {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  line-height: 0.90;
  font-size: 0.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1px;
  margin: 0;
}

/* Contenedor que agrupa tanto el botón como la etiqueta */
.btn-container {
  padding: 0;
  align-items: center;
}

/* Cambiar estilos del botón y la etiqueta cuando el contenedor está en hover */
.btn-container:hover .btn-opt {
  background: rgba(250, 235, 215, 0.341);
  border-radius: 8px;
  height: 1.9rem;
}

.btn-container:hover .label-btn {
  color: #f54494; /* Cambia el color de la etiqueta en hover */
  font-weight: bold; /* Opcional, para resaltar la etiqueta */
}


.card-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap:0.22rem;
  margin: 0.4rem;
  
}

.card-options-item {
  margin: 0;
  padding: 0;
  line-height: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: start; /* Centra verticalmente */
  grid-column: 1 / -1; /* Asegúrate de que cubra todas las columnas */
  height: 100vh; /* Ocupa toda la altura del viewport */
}
