.registro-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(650px, 1fr));
    gap: 0.15rem 0.15rem 0.15rem;
    padding: 0px;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 0.18rem;
    border-radius: 5px;
    /* background-color: #f9f9f9; */
  }
  
  .card-body {
    text-align: left;
  }
  
  .registro-accordion-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }
  
  .accordion-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .accordion-item p {
    margin-top: 10px;
  }
  
 .titulos {
  display: flex;
  justify-content: space-evenly; /* O ajustar con otro valor si lo deseas */
  align-items: flex-start; /* Alinea los items verticalmente */
  gap: 0.2rem; /* Ajusta el espacio entre los elementos si es necesario */
}

.item-label {
margin: 0;
padding: 0;

}