/* sidebar.css */


.sidebar {
  background-color: #0000008c; /* Color de fondo del sidebar */
  color: white;
  width: 250px; /* Ancho del sidebar */
  height: 100vh; /* Altura completa de la ventana */
  padding: 1rem; /* Espaciado interno */
  position: fixed; /* Fija el sidebar a la izquierda */
  border-radius: 20px;
}

.sidebar ul {
  list-style: none;
}

.brand-logo {
  text-align: center;
  font-size: 24px; /* Tamaño de la fuente del logo */
  margin-bottom: 1rem; /* Espaciado inferior */
}

.nav-link {
  display: block; /* Asegura que el link ocupe todo el ancho */
  padding: 0.5rem 1rem; /* Espaciado interno */
  color: white;
  text-decoration: none; /* Quitar subrayado */
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.3s; /* Transición suave al cambiar el fondo */
}

.nav-link:hover {
  background-color: #4b5563; /* Color de fondo al pasar el mouse */
}

.sub-menu {
  padding-left: 1rem; /* Indentación para submenús */
  margin-top: 0.5rem; /* Espacio superior */
}

.sub-nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.sub-nav-link:hover {
  background-color: #374151; /* Color de fondo al pasar el mouse en submenús */
}

.main-content {
  margin-left: 250px; /* Deja espacio para el sidebar */
  padding: 1rem; /* Espaciado interno */
  flex: 1; /* Ocupa el espacio restante */
  background-color: #f3f4f6; /* Color de fondo del contenido principal */
}
