/* Estilos generales */
.sidebar {
  position: fixed;
  left: 0;
  top: 54px;
  margin-left: 4px;
  bottom: 0;
  width: 50px;
  height: 100vh;
  background: #02141ca8; /* Con efecto blur */
  backdrop-filter: blur(8px); /* Desenfoque */
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegura que los elementos estén distribuidos */
  align-items: center;
  border-radius: 8px;
}



.sidebar.expanded {
  width: 200px; /* Se expande cuando se hace hover */
}
 
.sidebar-items {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1; /* Permite que la lista ocupe el espacio restante */
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin: 20px 0;
  color: white;
}

.sidebar-label {
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar.expanded .sidebar-label {
  opacity: 1; /* Mostrar texto cuando se expande */
}

/* Estilo del toggle de tema */
.toggleTheme {
  position: absolute;
  bottom: 70px; /* Ubica el toggle en la parte inferior */
  left: 50%; /* Centra horizontalmente */
  transform: translateX(-50%); /* Ajusta para el centrado perfecto */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Responsivo: Mobile First */
@media (max-width: 768px) {
  .sidebar {
    width: 40px;
  }

  .sidebar.expanded {
    width: 150px;
  }

  .sidebar-item {
    margin: 15px 0;
  }
}

.sub-menu {
  padding-left: 20px; /* Para que se vea un poco desplazado hacia la derecha */
}

.ai-chevron {
  float: right;
  transition: transform 0.3s ease;
}

.ai-chevron.down {
  transform: rotate(90deg); /* Gira el ícono cuando el submenú está abierto */
}
