.search-container {
  display: flex;
  gap: 8px; /* Espacio entre los inputs */
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 9px;
}

.search-input {
  padding: 0.2rem;
  width: 0.2rem;
  border: 1px solid #cccccc1e;
  border-radius: 4px;
  flex: 1 1 auto;
  min-width: 150px; /* Asegura que se vea bien en pantallas pequeñas */
}

.search-button {
  padding: 8px 16px;
  background-color: #007bff6e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 9px;
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }
}
