/* From Uiverse.io by micaelgomestavares */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 40%x;
  padding: 10px;
  border-radius: 20px;
  position: relative;
  box-sizing: content-box;
}

.cuadro {
  width: 100%;
  background-color: #191717ea;
  padding: 10px;
  border-radius: 20px;
  position:sticky;
}

.title {
  font-size: 28px;
  color: rgb(115, 141, 221);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin: 0.5;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(115, 141, 221);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(115, 141, 221);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(143, 225, 248, 0.822);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* From Uiverse.io by mrhyddenn */ 


.input {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 12px;
  color: #fff;
  padding: 0px ;
  background: transparent;
  transition: border-color 0.2s;
}

.input::placeholder {
  color: transparent;
}

.input:placeholder-shown ~ .label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.input:focus ~ .label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.input:required, .input:invalid {
  box-shadow: none;
}