/* From Uiverse.io by micaelgomestavares */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 900px;
  background-color: #191717;
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.cuadro {
  
 

  width: 650px;
  background-color: #191717;
  padding: 10px;
  border-radius: 20px;
  position:sticky;
}

.title {
  font-size: 28px;
  color: rgb(115, 141, 221);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin: 0.5;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(115, 141, 221);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(115, 141, 221);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 9px;
  padding: 10px;
}

.flex-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  width: auto;
  gap: 6px;

}

.flex-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 4px;
  padding: 10px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
  
}

.submit:hover {
  background-color: rgb(56, 90, 194);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.4);
    opacity: 1;
  }

  to {
    transform: scale(1.9);
    opacity: 0;
  }
}

.gap-2 {
  gap: 16px;
}