/* From Uiverse.io by micaelgomestavares */ 
.form {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
  box-sizing: content-box;
  background-color: #191717ea;
  gap: 1.7rem;
}

.title {
  font-size: 28px;
  color: rgb(115, 141, 221);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin: 0.5;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(115, 141, 221);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(115, 141, 221);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.container {
  margin: 0.12rem;
  padding: 0.12rem;
  display: flex;
  flex-direction: column;
  gap: 2px;
}


.field_form {
  padding: 2px 0;
  width: auto;
  max-width: 180px;
  position: relative; /* Asegura que el label esté posicionado en relación con este contenedor */
  margin-bottom: 30px; /* Espacio entre los campos */
}

.input_field {
  font-family: inherit;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 8px 0; /* Espaciado interno del input */
  background: transparent;
  transition: border-color 0.2s, padding-bottom 0.2s;
  width: 100%;
}

.input_field::placeholder {
  color: transparent; /* Ocultamos el placeholder */
}

.form_label {
  position: absolute;
  top: 10px; /* Posición inicial del label */
  left: 0;
  transition: 0.2s ease all; /* Suavidad en el movimiento */
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none; /* No se puede hacer clic en el label */
}

.input_field:focus ~ .form_label,
.input_field:not(:placeholder-shown) ~ .form_label {
  top: -20px; /* Mueve el label hacia arriba cuando se enfoca o tiene valor */
  font-size: 12px; /* Reduce el tamaño del label */
  color: #38caef;
}

.input_field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

/* Reset input */
.input_field:required, .input_field:invalid {
  box-shadow: none;
}

.flex-button {
  margin-top: 20px;
}

