.home {
  display: flex;
}

/* Estilos generales del sidebar */
.sidebar-div {
  
  width: 0;
  visibility: hidden;
}

.sidebar-div:hover {
  width: 200px;
}

.contenido {
  width: 100vw;
  height: 100vh;
  overflow-y: auto; /* Permite el scroll solo en el eje Y */
  padding: 1rem; /* Opcional: agrega padding interno si necesitas espacio dentro del contenido */
}

.btn-menu {
  width: 100vw;
  background-color: #000005c1;
  border: none;
  box-shadow: 0 4px 6px rgba(86, 122, 221, 0.648), 
              0 1px 3px rgba(167, 162, 218, 0.584);
  
}

.sidebar-div-visible {
  transition: all 0.6s; 
  width: 200px;
  visibility: visible;

}





/* Ocultar el botón hamburguesa en pantallas grandes */
@media (min-width: 768px) {

  .home {
    display: flex;

  }

  .hamburger {
    display: none;
    
  }
  .contenido {
    
    padding-top: 9px;
    overflow-y: auto;
  }

  .btn-menu-div {
    visibility:hidden;
    display: none;
  }

  .sidebar-div {
    width: 55px;
    transition: flex-basis 0.3s ease, margin-left 0.3s ease; 
    visibility: visible;
  }
  
}
