/* hamburgerMenu.css */
.hamburger-menu {
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.hamburger-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-brand {
  font-size: 1.2rem;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Oculto inicialmente */
  width: 250px;
  height: 100%;
  background-color: #111;
  color: white;
  transition: left 0.3s ease;
  padding-top: 60px;
}

.side-menu.open {
  left: 0;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu ul li {
  padding: 15px 20px;
  cursor: pointer;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-menu ul li a:hover {
  background-color: #575757;
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
