

.hombre {
  color: #1bc5e6;
  font-weight: bold;
}

.mujer {
  color: #df7ca8;
  font-weight: bold;
}


/* Define la animación de pulso */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Aplica la animación al SVG al hacer hover */
svg.pulse:hover {
  animation: pulse 1s infinite;
}

tr:hover .pulse {
  animation: pulse 1s infinite;
}

tr:hover .dir {
  transition: 0.8s; 
}

/* texto de expediente expande */
.text-exp {
  color: #93efca ;
}



tr:hover .text-exp {
    font-size: 1.5rem;
    font: bold;
    transition: 0.4s;
    padding: 0;
    margin: 0;
  }


 /* Pantallas pequeñas (teléfonos) */
@media screen and (max-width: 576px) {
  .zoomable-content {
    font-size: 0.35rem;
    transform: scale(0.65);
    padding: 10px;
    margin: 0 auto;
    width: 90%;
  }
}

/* Pantallas medianas (tabletas) */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .zoomable-content {
    font-size: 0.55rem;
    transform: scale(0.8);
    padding: 15px;
    margin: 0 auto;
    width: 85%;
  }
}

/* Pantallas grandes (escritorios pequeños) */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .zoomable-content {
    font-size: 0.8rem;
    transform: scale(0.95);
    padding: 20px;
    margin: 0 auto;
    width: 80%;
  }
}

/* Pantallas extra grandes (escritorios grandes) */
@media screen and (min-width: 993px) {
  .zoomable-content {
    font-size: 1rem;
    transform: scale(1);
    padding: 25px;
    margin: 0 auto;
    width: 75%;
  }
}


.card-container {
  margin-left: 0px; /* Elimina el margen izquierdo */
  display: flexbox;
  flex-direction: column;
  width:100%;
  position: relative;
}

.card {
  padding: 0.2rem;
  width: 100%; /* Asegura que cada tarjeta ocupe todo el ancho disponible */
  margin: 0; /* Elimina cualquier margen alrededor de las tarjetas */
  border-bottom: 1px solid #ccc; /* Añade una línea divisoria entre las tarjetas, si es necesario */
}

.card:last-child {
  border-bottom: none; /* Elimina la línea divisoria del último elemento */
}

